.movie-poster img {
<<<<<<< Updated upstream
  height: 300px;
  width:200px;
=======
    height: 300px;
    width: 200px;
    margin: 4px;
    padding: 8px;
}

.movie-title {
    font-size: 19px;
    font-style: Bold;
>>>>>>> Stashed changes
}